<main>
  <article class="pb2 mt2" href="#0">
    <div class="link dim dib w2 v-mid">
      <span class="fas fa-heart"></span>
    </div>
  </article>
  <article class="pb2 mt2" href="#0">
    <div class="link dim dib w2 v-mid">
      <span class="fas fa-book-open"></span>      
    </div>
  </article>
  <article class="pb2 mt2" href="#0">
    <div class="link dim dib w2 v-mid">
      <span class="fas fa-map-marked-alt"></span>      
    </div>
  </article>
  <article class="pb2 mt2" href="#0">
    <div class="link dim dib w2 v-mid">
      <span class="fas fa-camera"></span>      
    </div>
  </article>
  <article class="pb2 mt2" href="#0">
    <div class="link dim dib w2 v-mid">
      <span class="fas fa-envelope-open-text"></span>      
    </div>
  </article>
</main>